<div class="landing_wrapper">

	<div class="landing">

		{%- section 'page_landing__1' -%}
		{%- section 'page_landing__form' -%}
		{%- section 'page_landing__guarantee' -%}
		{%- section 'page_landing__2' -%}
		{%- section 'page_landing__3' -%}
		{%- section 'page_landing__4' -%}
		{%- section 'page_landing__5' -%}
		{%- section 'page_landing__6' -%}
		{%- section 'page_landing__guarantee' -%}
		{%- section 'page_landing__footer' -%}

	</div>

</div>
